In [1]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
data = pd.read_csv('./my_movies.csv')
data.head()

            V1       V2             V3          V4     V5  ...  LOTR2  Harry Potter2  LOTR  Braveheart  Green Mile
0  Sixth Sense    LOTR1  Harry Potter1  Green Mile  LOTR2  ...      1              0     0           0           1
1    Gladiator  Patriot     Braveheart         NaN    NaN  ...      0              0     0           1           0
2        LOTR1    LOTR2            NaN         NaN    NaN  ...      1              0     0           0           0
3    Gladiator  Patriot    Sixth Sense         NaN    NaN  ...      0              0     0           0           0
4    Gladiator  Patriot    Sixth Sense         NaN    NaN  ...      0              0     0           0           0

[5 rows x 15 columns]

In [5]:
mv = data.drop({'V1',"V2", "V3", 'V4','V5'}, axis='columns')
mv

   Sixth Sense  Gladiator  LOTR1  Harry Potter1  Patriot  LOTR2  Harry Potter2  LOTR  Braveheart  Green Mile
0            1          0      1              1        0      1              0     0           0           1
1            0          1      0              0        1      0              0     0           1           0
2            0          0      1              0        0      1              0     0           0           0
3            1          1      0              0        1      0              0     0           0           0
4            1          1      0              0        1      0              0     0           0           0
5            1          1      0              0        1      0              0     0           0           0
6            0          0      0              1        0      0              1     0           0           0
7            0          1      0              0        1      0              0     0           0           0
8            1          1      0              0        1      0              0     0           0           0
9            1          1      0              0        0      0              0     1           0           1

In [6]:
mv_a = apriori(mv, min_support=0.05, use_colnames=True)
mv_a

    support                                           itemsets
0       0.6                                      (Sixth Sense)
1       0.7                                        (Gladiator)
2       0.2                                            (LOTR1)
3       0.2                                    (Harry Potter1)
4       0.6                                          (Patriot)
5       0.2                                            (LOTR2)
6       0.1                                    (Harry Potter2)
7       0.1                                             (LOTR)
8       0.1                                       (Braveheart)
9       0.2                                       (Green Mile)
10      0.5                           (Gladiator, Sixth Sense)
11      0.1                               (LOTR1, Sixth Sense)
12      0.1                       (Harry Potter1, Sixth Sense)
13      0.4                             (Patriot, Sixth Sense)
14      0.1                               (LOTR2, Sixth Sense)
15      0.1                                (LOTR, Sixth Sense)
16      0.2                          (Green Mile, Sixth Sense)
17      0.6                               (Patriot, Gladiator)
18      0.1                                  (LOTR, Gladiator)
19      0.1                            (Gladiator, Braveheart)
20      0.1                            (Gladiator, Green Mile)
21      0.1                             (Harry Potter1, LOTR1)
22      0.2                                     (LOTR2, LOTR1)
23      0.1                                (LOTR1, Green Mile)
24      0.1                             (LOTR2, Harry Potter1)
25      0.1                     (Harry Potter2, Harry Potter1)
26      0.1                        (Harry Potter1, Green Mile)
27      0.1                              (Patriot, Braveheart)
28      0.1                                (LOTR2, Green Mile)
29      0.1                                 (LOTR, Green Mile)
30      0.4                  (Patriot, Gladiator, Sixth Sense)
31      0.1                     (LOTR, Gladiator, Sixth Sense)
32      0.1               (Green Mile, Gladiator, Sixth Sense)
33      0.1                (Harry Potter1, LOTR1, Sixth Sense)
34      0.1                        (LOTR2, LOTR1, Sixth Sense)
35      0.1                   (LOTR1, Green Mile, Sixth Sense)
36      0.1                (LOTR2, Harry Potter1, Sixth Sense)
37      0.1           (Harry Potter1, Green Mile, Sixth Sense)
38      0.1                   (LOTR2, Green Mile, Sixth Sense)
39      0.1                    (LOTR, Green Mile, Sixth Sense)
40      0.1                   (Patriot, Gladiator, Braveheart)
41      0.1                      (LOTR, Gladiator, Green Mile)
42      0.1                      (LOTR2, Harry Potter1, LOTR1)
43      0.1                 (Harry Potter1, LOTR1, Green Mile)
44      0.1                         (LOTR2, LOTR1, Green Mile)
45      0.1                 (LOTR2, Harry Potter1, Green Mile)
46      0.1         (Green Mile, LOTR, Gladiator, Sixth Sense)
47      0.1         (LOTR2, Harry Potter1, LOTR1, Sixth Sense)
48      0.1    (Harry Potter1, LOTR1, Green Mile, Sixth Sense)
49      0.1            (LOTR2, LOTR1, Green Mile, Sixth Sense)
50      0.1    (LOTR2, Harry Potter1, Green Mile, Sixth Sense)
51      0.1          (LOTR2, Harry Potter1, LOTR1, Green Mile)
52      0.1  (Green Mile, LOTR2, Harry Potter1, Sixth Sense...

In [7]:
mv_ar = association_rules(mv_a, min_threshold=0.6, metric='confidence')
mv_ar

                      antecedents                         consequents  ...  leverage  conviction
0                     (Gladiator)                       (Sixth Sense)  ...      0.08         1.4
1                   (Sixth Sense)                         (Gladiator)  ...      0.08         1.8
2                       (Patriot)                       (Sixth Sense)  ...      0.04         1.2
3                   (Sixth Sense)                           (Patriot)  ...      0.04         1.2
4                          (LOTR)                       (Sixth Sense)  ...      0.04         inf
..                            ...                                 ...  ...       ...         ...
129        (LOTR2, Harry Potter1)    (LOTR1, Green Mile, Sixth Sense)  ...      0.09         inf
130          (LOTR2, Sixth Sense)  (Harry Potter1, LOTR1, Green Mile)  ...      0.09         inf
131  (Harry Potter1, Sixth Sense)          (LOTR2, LOTR1, Green Mile)  ...      0.09         inf
132        (Harry Potter1, LOTR1)    (LOTR2, Green Mile, Sixth Sense)  ...      0.09         inf
133          (LOTR1, Sixth Sense)  (LOTR2, Harry Potter1, Green Mile)  ...      0.09         inf

[134 rows x 9 columns]

In [14]:
mv_finale = mv_ar[(mv_ar.support>0.15)&(mv_ar.confidence>0.5)].sort_values('confidence', ascending=False)
mv_finale

                 antecedents               consequents  antecedent support  ...      lift  leverage  conviction
5               (Green Mile)             (Sixth Sense)                 0.2  ...  1.666667      0.08         inf
6                  (Patriot)               (Gladiator)                 0.6  ...  1.428571      0.18         inf
10                   (LOTR2)                   (LOTR1)                 0.2  ...  5.000000      0.16         inf
11                   (LOTR1)                   (LOTR2)                 0.2  ...  5.000000      0.16         inf
16    (Patriot, Sixth Sense)               (Gladiator)                 0.4  ...  1.428571      0.12         inf
7                (Gladiator)                 (Patriot)                 0.7  ...  1.428571      0.18         2.8
1              (Sixth Sense)               (Gladiator)                 0.6  ...  1.190476      0.08         1.8
17  (Gladiator, Sixth Sense)                 (Patriot)                 0.5  ...  1.333333      0.10         2.0
0                (Gladiator)             (Sixth Sense)                 0.7  ...  1.190476      0.08         1.4
2                  (Patriot)             (Sixth Sense)                 0.6  ...  1.111111      0.04         1.2
3              (Sixth Sense)                 (Patriot)                 0.6  ...  1.111111      0.04         1.2
15      (Patriot, Gladiator)             (Sixth Sense)                 0.6  ...  1.111111      0.04         1.2
18                 (Patriot)  (Gladiator, Sixth Sense)                 0.6  ...  1.333333      0.10         1.5
19             (Sixth Sense)      (Patriot, Gladiator)                 0.6  ...  1.111111      0.04         1.2

[14 rows x 9 columns]